## --> general
alias restart='exec zsh -l'   # --> reset setting
alias ls='ls -a'
alias ll='ls -lah'
alias bd='cd ../'             # --> back directroy
alias h='history | tail -n 32'
alias here='pwd'
alias uuid='uuidgen | tr "[:upper:]" "[:lower:]" | tr -d "\n" | pbcopy'

## --> git
alias g="git"
alias gs='git status'
alias gsw='git switch -'
alias gd='git diff'
alias gl='git log'
alias glp='git log --patch'
alias glo='git log --oneline'
alias gll='git log --oneline' # ---> frequently used
alias glf='git log --name-status'
alias ga='git add'
alias gaa='git add -A'
alias gc='git commit'
alias gca='git commit --amend'
alias gcf="git commit -m 'fixup! to be fixed'"
alias gb='git branch'
alias gcb='git checkout -b'
alias gr='git rebase -i'
alias gp='git push'
alias gpp='git push --force-with-lease'
alias gbd='git-branch-delete-by-name' # --> defined as function
alias gbn='git-branch-by-name' # --> defined as function

## --> docker
alias dc='docker compose'
alias d='docker'

## --> IDE
alias v='code ./' # --> vscode
alias f='fleet ./'
alias i='idea ./'

## --> util
alias kill-chrome='kill -9 $(ps -x | grep "Google Chrome" | awk "{print $1}")'

# function
# --> git
## delete all the branches starting with given word
function git-branch-delete-by-name () {
  git branch | grep $1 | tr -d ' ' | tr -d '*' | while read _branch; do git branch -D ${_branch}; done
}

## get branch name with name
function git-branch-by-name () {
  git branch | grep $1 | tr -d ' ' | tr -d '*' | while read _branch; do echo ${_branch}; done
}

## merge master of upstream
### this will be used for OSS commitment
function git-merge-upstream () {
  git fetch upstream
  git checkout master
  git merge uptream/master
  git push
}
