## --> general
alias restart='exec zsh -l'   # --> reset setting
alias ls='eza -1 -a --git-ignore --icons=auto'
alias ll='ls -l'
alias tr='ls -T -L' # --> pass num for depth
alias trl='ls -T -l -L' # --> pass num for depth
alias bd='cd ../'             # --> back directroy
alias here='pwd'
alias uuid='uuidgen | tr "[:upper:]" "[:lower:]" | tr -d "\n" | pbcopy'
alias cat='bat'
alias kc='kill -9 $(ps -x | grep "Google Chrome" | awk "{print $1}")'

alias h='_fzf-history'
function _fzf-history() {
    local selected_cmd=`history -n 1 | tail -r | fzf --reverse`
    if [ -n "$selected_cmd" ]; then
      print -z "${selected_cmd}"
    fi
}

## --> mise
alias mr='mise run'

## --> git
alias g="git"
alias gs='git status'
alias gd='git diff'
alias gdw='git diff --word-diff'
alias gl='git log'
alias gll='git log --name-status'
alias glp='git log --patch'
alias glo='git log --oneline'
alias ga='git add'
alias gaa='git add -A'
alias gc='git commit'
alias gcf='git commit --fixup=HEAD' # --> use with `git rebase --autosquash`
alias gca='git commit --amend'
alias gbl='git branch'
alias gcb='git checkout -b'
alias gp='git push'
alias gpp='git push --force-with-lease'

### -> select branch interactively and switch
alias gb='_fzf-git-branch'
function _fzf-git-branch() {
    local selected_branch=$(git branch --format='%(refname:short)' | fzf --reverse)
    if [ -n "$selected_branch" ]; then
      git switch ${selected_branch}
    fi
}

### -> select commit hash interactively and rebase
alias gr='_git-rebase-fzf'
function _git-rebase-fzf() {
    local selected_commit=$(git log --oneline -n 20 | fzf --reverse | awk '{print $1}')
    if [ -n "$selected_commit" ]; then
        git rebase -i ${selected_commit}
    fi
}

### -> select commit hash interactively and rebase but with autosquash
alias gra='_git-rebase-autosquash-fzf'
function _git-rebase-autosquash-fzf() {
    local selected_commit=$(git log --oneline -n 20 | fzf --reverse | awk '{print $1}')
    if [ -n "$selected_commit" ]; then
        git rebase --autosquash -i ${selected_commit}
    fi
}

### -> delete all the branches starting with given word
alias gbd='_git-branch-delete-by-name' # --> defined as function
function _git-branch-delete-by-name () {
  git branch | grep $1 | tr -d ' ' | tr -d '*' | while read _branch; do git branch -D ${_branch}; done
}

### gh
alias gre='gh browse'
alias gch='gh pr checks'
alias gchl='gh run list'

alias gpr='_git-create-or-view-pr'
function _git-create-or-view-pr() {
    if gh pr view &>/dev/null; then
        gh pr view -w
    else
        gh pr create -w
    fi
}

### -> select pull requests interactively and view in web
alias gprl='_gh-pr-list-fzf'
function _gh-pr-list-fzf() {
    local selected_pr=$(gh pr list --state all | fzf --reverse | awk '{print $1}')
    if [ -n "$selected_pr" ]; then
        gh pr view --web ${selected_pr}
    fi
}

### -> select repository interactively and change directory
alias gg='_fzf-ghq'
function _fzf-ghq () {
  local selected_dir=$(ghq list -p | fzf --reverse)
  if [ -n "$selected_dir" ]; then
    cd ${selected_dir}
  fi
}

## --> docker
alias dc='docker compose'
alias d='docker'

## --> IDE
alias v='code ./' # --> vscode
alias f='fleet ./'
alias i='idea ./'

## --> k8s
alias k='kubectl'
alias kctx='kubectx | cat | fzf --reverse | xargs kubectx' # --> use fzf for interactive mode
alias kns='kubens | cat | fzf --reverse | xargs kubens' # --> use fzf for interactive mode
alias kctxl='kubectx -c'
alias knsl='kubens -c'

## --> dart
alias da='dart'
alias dar='dart run'
alias dap='dart pub'
