[user]
  email = omuomugin@out-box.dev
  name = omuomugin

[color]
  status      = auto
  diff        = auto
  branch      = auto
  interactive = auto
  grep        = auto
  ui          = auto

[commit]
	template = ~/.gitmessage

[rebase]
  autosqaush = true
  abbreviateCommands = true
  autostash = true

[github]
	user = omuomugin

[ghq]
  root = ~/workspace