[user]
    email = m@omuomugin.com
    name = omuomugin

[color]
    status      = auto
    diff        = auto
    branch      = auto
    interactive = auto
    grep        = auto
    ui          = auto

[core]
    pager = delta

[column]
    ui = auto

[commit]
	template = ~/.gitmessage

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[init]
    defaultBranch = main

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[log]
    abbrevCommit = true

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[pull]
    ff = only

[fetch]
    prune = true
    pruneTags = true
    all = true

[github]
	user = omuomugin

[ghq]
    root = ~/workspace

[interactive]
    diffFilter = delta --color-only

[include]
    path = ~/themes.gitconfig

[delta]
    features = my-theme
    navigate = true

    # dark = true
    # light = true

[merge]
    conflictstyle = zdiff3
