name: test clean install on MacOS

on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test-clean-install:
    runs-on: macos-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4

      - name: setup
        run: sh ${GITHUB_WORKSPACE}/initial_setup.sh

      - name: link dotfiles
        # should reload `.zshrc`
        run: |
          DOTFILES_DIR=${GITHUB_WORKSPACE} sh ${GITHUB_WORKSPACE}/scripts/link_dotfiles.sh
          exec zsh -l

      - name: mise install
        # install might fail with rate limit
        continue-on-error: true
        run: mise install

      - name: check mise (doctor)
        # mise doctor will fail
        continue-on-error: true
        run: mise doctor >> "$GITHUB_STEP_SUMMARY"

      - name: check mise (list)
        run: mise list >> "$GITHUB_STEP_SUMMARY"

      - name: check mise (task)
        run: mise tasks >> "$GITHUB_STEP_SUMMARY"

      - name: check homebrew
        run: brew list --formula >> "$GITHUB_STEP_SUMMARY"
